.body {
	background-color: black;
	font-family: Verdana, Geneva, sans-serif;
}
.container {
	overflow: auto;
}
.versecontainer {
	width: 100%;
}
.header {
	background-color: #09165C;
	color: #F2CE61;
	font-family: Verdana, Geneva, sans-serif;
	width: 100%;
	height: 30px;
	font-size: 23px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.headerText{text-align: center;}
.menu {
	height: 22px;
	position: absolute;
	left: 97%;
	top: 10px;
}
.icons {
	position: relative;
	top: 3px;
	left: -6px;
	height: 16px;
}
.footer {
	position: relative;
	width: 100%;
	top: 0px;
	margin-top: 0px;
}
.testButtonContainer {
	position: absolute;
	top: -5px;
	right: 5px;
}
.testButton {
	position: absolute;
	top: -5px;
	right: 5px;
	padding-left: 30px;
	padding-right: 30px;
	height: 44px;
}
.selected {
	background-color: #d6d6d6 !important;
}
@media all and (max-width: 640px) {
	.menu {
		height: 25px;
		position: absolute;
		left: 90%;
		top: 19%;
	}
	.navimg {
		width: 25px;
		height: 25px;
	}
	.navtext {
		font-size: 11px;
	}
	.navbtn {
		padding: 11px 0px 11px 0px;
	}
	.header {
		background-color: #09165C;
		color: #F2CE61;
		font-family: Verdana, Geneva, sans-serif;
		width: 100%;
		height: 30px;
		font-size: 18px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.headerText {
		padding-top: 2px;
	}
	.testButton {
		position: absolute;
		top: -5px;
		right: 5px;
		padding-left: 30px;
		padding-right: 30px;
		height: 44px;
	}
}